.home_container {
	box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.4);
	border-radius: 10px;
	display: grid;
	grid-template-columns: 1fr auto;
	padding: 20px;
	align-items: center;
	justify-content: center;
}

.coinTitle {
	display: grid;
	grid-template-columns: 93px 232px 133px 122px 139px 112px 148px 148px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(180, 180, 180, 0.4);
}

.nameTitle {
	text-align: left;
}

.coin {
	display: grid;
	grid-template-columns: 93px 232px 133px 122px 139px 112px 148px 148px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(180, 180, 180, 0.1);
}

.coin:last-child {
	border-bottom: none;
}