.coin {
	display: grid;
	grid-template-columns: 93px 232px 133px 122px 139px 112px 148px 148px;
	text-align: center;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(180, 180, 180, 0.1);
	color: black;
	text-decoration: none;
}

.coin:hover {
	background-color: rgba(180, 180, 180, 0.1);
}

.coin:last-child {
	border-bottom: none;
}

.name {
	text-align: left;
	padding-left: 10px;
	align-items: center;
	align-content: center;
}

.nameBlock {
	display: grid;
	align-items: center;
	grid-template-columns: 30px 1fr;
}

.nameBlock img {
	width: 30px;
	height: 30px;
}

@media screen and (max-width:1200px) {
	.coin {
		display: grid;
		grid-template-columns: 40px 1fr 90px 90px 90px;
		grid-template-areas: "rank name priceUsd marketCapUsd changePercent24Hr";
	}

	.rank {
		grid-area: rank;
	}

	.name {
		grid-area: name;
		text-align: left;
	}

	.nameBlock {
		display: block;
	}

	.nameBlock img {
		display: none;
	}

	.priceUsd {
		grid-area: priceUsd;
	}

	.marketCapUsd {
		grid-area: marketCapUsd;
	}

	.changePercent24Hr {
		grid-area: changePercent24Hr;
	}

	.vwap24Hr,
	.supply,
	.volumeUsd24Hr {
		display: none;
	}
}

@media screen and (max-width:1200px) {
	.coin {
		display: grid;
		grid-template-columns: 40px 1fr 90px 90px 90px;
		grid-template-areas: "rank name priceUsd marketCapUsd changePercent24Hr";
	}

	.rank {
		grid-area: rank;
	}

	.name {
		grid-area: name;
		text-align: left;
	}

	.nameBlock {
		display: block;
	}

	.nameBlock img {
		display: none;
	}

	.priceUsd {
		grid-area: priceUsd;
	}

	.marketCapUsd {
		grid-area: marketCapUsd;
	}

	.changePercent24Hr {
		grid-area: changePercent24Hr;
	}

	.vwap24Hr,
	.supply,
	.volumeUsd24Hr {
		display: none;
	}
}

@media screen and (max-width:800px) {
	.coin {
		grid-template-columns: 40px 1fr 90px 90px;
		grid-template-areas: "rank name priceUsd changePercent24Hr";
	}


	.vwap24Hr,
	.supply,
	.volumeUsd24Hr,
	.marketCapUsd {
		display: none;
	}
}